
<div nz-row class="header">
  <div nz-col nzSpan="24">
    <nz-affix nzOffsetTop="0">
      <div class="search">
        <nz-input-group [nzSuffix]="suffixIconSearch">
          <input type="text" nz-input placeholder="input search text" />
        </nz-input-group>
        <ng-template #suffixIconSearch>
          <i nz-icon nzType="search"></i>
        </ng-template>
      </div>
    </nz-affix>
  </div>
</div>

<div nz-row class="body">
  <div nz-col nzSpan="8" *ngFor="let book of books" class="book">
    <div class="thumbnail">
      <img [src]="book.volumeInfo.imageLinks.thumbnail" (click)="openBookDetail(book)">
    </div>
    <div class="title" (click)="openBookDetail(book)">
      {{book.volumeInfo.title}}
    </div>
    <div class="info">
      <div class="author" *ngIf="book?.volumeInfo?.authors?.length">
        by {{book?.volumeInfo?.authors?.join("|")}}
      </div>
      <div class="publishedDate" *ngIf="book.volumeInfo.publishedDate">
       <span *ngIf="book?.volumeInfo?.authors?.length">&nbsp;</span> in {{book.volumeInfo.publishedDate}}
      </div>
    </div>
  </div>
</div>